* {
    margin: 0;
    padding: 0;
}

.banner {
    height: 300px;
    background-image: url(banner.jpg);
    background-size: cover;
    border-top: 5px solid lightgreen;
    border-bottom: 5px solid orange;
    background-position: center;
}

body {
    background-color: #eaeaea;
    color: #333;
    background-image: url(backgorund.jfif);
}

.container {
    background-color: white;
    width: 880px;
    margin: auto;
}

.header {
    padding: 15px;
}

.header .judul {
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-size: 40px;
}

.header .judul span {
    color: blue;
}

.header ul li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

.header a{
    color: salmon;
    text-decoration: none;
    padding: 4px;
}

.header a:hover{
    color: #fff;
    background-color: blue;
}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.content a{
    text-decoration: none;
    font-weight: bold;
    color: salmon;
}

.content p{
    margin-bottom: 20px;
    line-height: 25px;
    text-align: justify;
}

.footer .copyright {
    text-align: center;
    color: white;
    font-weight: bold;
}

.footer {
    background-color: royalblue;
    padding: 15px;
}